ENV=development

# For Stripe redirects
FRONTEND_URL=... # eg: http://localhost:5173

# 3rd party secrets
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
# Webhook secret key
STRIPE_SECRET_KEY=sk_test_...
RESEND_API_KEY=re_...
RESEND_EMAIL=support@trueshotodds.com

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_KEY_PREFIX=trueshot:
FREE_KEY_PREFIX=arbs:free
PREMIUM_KEY_PREFIX=arbs:premium
CACHE_TTL_MEDIUM=300